.wrapper {
  display: grid;
}
header .wrapper {
  grid-template-columns: 1fr 1fr;
}
.section-feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-distribution {
  display: grid;
  grid-template-columns: 1fr;
}
